/* This ensures that all the items have padding and border included in their width and height https://www.w3schools.com/css/css3_box-sizing.asp */
* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(467deg, rgba(307, 220, 209, .85), rgba(266, 195, 170, .8), rgba(207, 167, 157, 0.85)), url(https://i.imgur.com/FfRdiH3.jpg);
  background-size: cover;
}

.logo {
  height: 71px;
  top: 51px;
  left: 465px;
  position: absolute;
}

.title {
position: absolute;
font-family: 'Montserrat', sans-serif;
width: 406px;
height: 59px;
left: 546px;
top: 26px;
/* top: 46px; */

/* font-family: 'Montserrat'; */
font-style: normal;
font-weight: 250;
font-size: 48px;
line-height: 59px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
/* color: #434343 */
color: #3D302D;


}

/* .binoculars {
  position: absolute;
  width: 75px;
  height: 74px;
  left: 460px;
  top: 40px;

  background: url(.png); NEED TO GET IMAGE LOCATION
} */

/* AUTHENTICATION (has been pushed to the side for now- is adding to modal pop-out */

.authentication {
  position: absolute;
  width: 129px;
  height: 110px;
  left: 1257px;
  top: 20px;
  font-family: 'Montserrat', sans-serif;

  background: #E9E1DF;
  border-radius: 10px;
}

/* DROPDOWNS - QUESTION: will this styling be replaced with the dropdown modal from material-UI? If so don't spend any time on this */

.autocomplete-container {
  position: relative;
}

.dropdown {
position: absolute;
font-family: 'Montserrat', sans-serif;
width: 1336px;
height: 141px;
left: 48px;
top: 140px;
padding: 0 40px;
/* left: calc(50% - 1336px/2);
top: calc(50% - 141px/2 - 311.5px); */

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
background: #E9E1DF;
}

.dropdown-selections {
  /* position: relative; */
  /* width: 234px; */
  height: fit-content;
  align-items: center;
  display: grid;
  column-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
}

.date-button {
  width: 200px !important;
}

/* this next piece will override the dropdown selections ALL (*) IMMEDIATE (>) children and apply this styling, which should make adding a date dropdown quick and easy hopefully*/

.name-and-info-section {
  width: 100%;
  height: 47px;
  display: grid;
  align-items: center;
  border-radius: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
  grid-row: 1;
  border: none;
  transform: translateY(5px);
  inline-size: fit-content;
  grid-gap: 113px;
}

.name-and-info-item {
  grid-row: 1;
  display: -webkit-box;
  grid-gap: 4px;
  transform: translate(10px, 10px);
}

.dropdown-selections > * {
  width: 100%;
  height: 56px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.07));
  grid-row: 1;
  border: none;
  background-color: white;
}


.dropdown-limitations {
  /* background:rgba(36, 35, 35, 0.85);
  color: #fff;
  border-radius: 50%; */
  width: 21px;
  height: 45px;
  transform: translateY(-12px);
  /*
  line-height: 10px;
  text-align: center;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  image-rendering: url(https://i.imgur.com/qDvTXf9.png); */
}

.search-icon{
  color: #fff;
  image-rendering: url(https://i.imgur.com/dCoTssr.png);
}

/* .search-icon {
  background: url(https://i.imgur.com/dCoTssr.png)
   background: url(https://i.imgur.com/qDvTXf9.png);
} */

/* #dropdown-set-primary-type {
  position: relative;
  width: 250px;
  height: 273px;
  left: 305px;
  top: 146px;
} */

/* MAP */

.map { height: 180px; }

.leaflet-container {
position: absolute;
width: 603px;
height: 669px;
left: 53px;
top: 308px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 10px;
}

/* SEARCH TABLE */

table {
  position: absolute;
  width: 603px;
  height: 600px;
  left: 700px;
  top: 308px;

  background: #E5DDDB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

table, th, tr, td {
  border: 1px solid black;
}

th {
  padding: right left 5px;
  position: sticky;
}

tr:hover {
  background-color: cadetblue;
}

.scrollTable {
  display: block;
  height: 575px;
  width:fit-content;
  overflow: auto;
}

/* FOOTER BODY */

.footer {
  position: absolute;
  width: 680px;
  height: 92px;
  left: 701px;
  top: 885px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  column-gap: 35px;
  background: #E5DDDB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

/* FOOTER LINKS */

.footer > * {
  /* position: absolute; */
  width: 178px;
  height: 44px;
  /* left: 741px;
  top: 909px; */

  background: #C4C4C4;
  border-radius: 10px;
  border: none;

}

.modal-creators {
    /* position: absolute; */
    width: 178px;
    height: 44px;
    /* left: 741px;
    top: 909px; */

    background: #C4C4C4;
    border-radius: 10px;
    border: none;
}

/* .footer-csv-download {
  position: absolute;
  width: 178px;
  height: 44px;
  left: 741px;
  top: 909px;

  background: #C4C4C4;
  border-radius: 10px;
}

.footer-data-source {
  position: absolute;
  width: 179px;
  height: 44px;
  left: 960px;
  top: 909px;

  background: #C4C4C4;
  border-radius: 10px;
}

.footer-everest-github {
  position: absolute;
  width: 179px;
  height: 44px;
  left: 1181px;
  top: 909px;

  background: #C4C4C4;
  border-radius: 10px;
} */


.note {
  left: 55px;
  top: 985px;
  position: absolute;
  opacity: 0.89;
}